<h2>Administration</h2>
<p>Hier können sie Ihre Seite verwalten,
Neuigkeiten hinzufügen, Artikel editieren und allgemeine Einstellungen ändern.</p>
<ul class="big-list">
    <li><?php makelink("news/manage", icon("page") . "News", true); ?></li>
    <li><?php makelink("articles/manage", icon("page") . "Artikel", true); ?></li>
    <li><?php makelink("projects/manage", icon("page") . "Projekte", true); ?></li>
    <li><?php makelink("contact/manage", icon("page") . "Kontaktanfragen", true); ?></li>
    <li><?php makelink("site/manage", icon("page") . "Seiten Management", true); ?></li>
    <li><?php makelink("site/stats", icon("page") . "Statistiken", true); ?></li>
</ul>
