body
{
      margin-left:20%;
}

div#header, div#navi, div#box_wrapper, div#footer, p.news-info, form
{
    display:block;
}

div#header
{
    width:806px;
}

p
{
    border:1px solid #333;
}

#navi a
{
height:2.1em;
}
